In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('https://www.dropbox.com/s/972se2yv6cao3bg/UCI_Credit_Card_test.csv?dl=1')

In [4]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,20000,240000.0,2,2,1,37,-1,2,-1,-1,...,0.0,1317.0,566.0,0.0,14015.0,0.0,1317.0,0.0,0.0,0
1,20001,220000.0,2,1,1,43,-1,-1,-1,-1,...,12095.0,1832.0,4691.0,1689.0,12373.0,12099.0,1832.0,5001.0,10311.0,1
2,20002,100000.0,2,1,2,38,3,2,-1,-1,...,35499.0,33051.0,36627.0,0.0,1151.0,35499.0,10000.0,6627.0,7000.0,0
3,20003,200000.0,2,1,1,39,-2,-2,-2,-2,...,0.0,353.0,342.0,2294.0,359.0,0.0,353.0,342.0,0.0,0
4,20004,400000.0,2,1,1,37,-1,0,-1,0,...,25434.0,6973.0,9899.0,31008.0,26862.0,3000.0,2000.0,3000.0,0.0,0

In [5]:
df.tail()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
9996,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
9997,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
9998,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
9999,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
10000,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [6]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,...,10001.000000,10001.00000,10001.000000,10001.000000,1.000100e+04,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000
mean,25000.000000,175857.014299,1.583142,1.885511,1.542246,35.790121,-0.093091,-0.192681,-0.226077,-0.267373,...,46853.104890,41876.80362,40259.928707,5948.010299,6.271878e+03,6207.447455,5026.264174,4880.089691,5485.640436,0.207779
std,2887.184355,131329.103983,0.493064,0.829452,0.520231,9.224849,1.125359,1.181173,1.166526,1.169916,...,69230.165921,63640.72340,61190.200153,18914.449679,2.581392e+04,20683.592515,16593.143178,14934.203309,18680.315216,0.405738
min,20000.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-65167.000000,-81334.00000,-209051.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22500.000000,60000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2360.000000,1852.00000,1356.000000,1000.000000,1.000000e+03,850.000000,344.000000,299.000000,274.000000,0.000000
50%,25000.000000,150000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19502.000000,18044.00000,17204.000000,2205.000000,2.300000e+03,2000.000000,1638.000000,1620.000000,1715.000000,0.000000
75%,27500.000000,250000.000000,2.000000,2.000000,2.000000,42.000000,0.000000,0.000000,0.000000,0.000000,...,60352.000000,51391.00000,50277.000000,5304.000000,5.348000e+03,5006.000000,4351.000000,4396.000000,4460.000000,0.000000
max,30000.000000,780000.000000,2.000000,6.000000,3.000000,75.000000,8.000000,7.000000,8.000000,7.000000,...,706864.000000,823540.00000,514975.000000,873552.000000,1.227082e+06,889043.000000,621000.000000,426529.000000,443001.000000,1.000000

In [7]:
df.corr()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
ID,1.000000,-0.004380,-0.060281,0.009721,-0.046316,0.038157,0.008811,0.007345,0.004269,0.001037,...,-0.013999,-0.015885,-0.011602,0.021233,0.001083,0.000552,0.005747,0.009746,-0.003389,0.008922
LIMIT_BAL,-0.004380,1.000000,0.038287,-0.183240,-0.112867,0.138825,-0.284830,-0.291385,-0.282788,-0.270253,...,0.287308,0.295318,0.288828,0.167732,0.146335,0.195449,0.193616,0.211076,0.210319,-0.168866
SEX,-0.060281,0.038287,1.000000,0.006039,-0.028606,-0.041223,-0.082018,-0.099466,-0.088759,-0.084543,...,-0.030282,-0.024155,-0.025750,0.002788,0.009362,-0.009946,-0.006141,0.002379,0.012540,-0.057369
EDUCATION,0.009721,-0.183240,0.006039,1.000000,-0.144408,0.189513,0.098177,0.099454,0.099645,0.098296,...,0.023301,0.014471,0.005736,-0.029173,-0.022236,-0.033102,-0.033269,-0.033291,-0.024446,0.031767
MARRIAGE,-0.046316,-0.112867,-0.028606,-0.144408,1.000000,-0.417621,0.038403,0.040995,0.047790,0.046492,...,-0.011228,-0.020432,-0.016646,0.018774,0.010089,0.018760,-0.006596,-0.012424,-0.014698,-0.023587
AGE,0.038157,0.138825,-0.041223,0.189513,-0.417621,1.000000,-0.047763,-0.052481,-0.055669,-0.049565,...,0.046991,0.047565,0.042523,0.016884,0.008699,0.013543,0.015286,0.017560,0.018759,0.032438
PAY_0,0.008811,-0.284830,-0.082018,0.098177,0.038403,-0.047763,1.000000,0.693448,0.603348,0.567994,...,0.202483,0.201987,0.200430,-0.058223,-0.048182,-0.061945,-0.052480,-0.058368,-0.041100,0.330144
PAY_2,0.007345,-0.291385,-0.099466,0.099454,0.040995,-0.052481,0.693448,1.000000,0.771579,0.663575,...,0.236446,0.234680,0.236832,-0.071908,-0.035939,-0.050110,-0.034278,-0.030470,-0.027020,0.276974
PAY_3,0.004269,-0.282788,-0.088759,0.099645,0.047790,-0.055669,0.603348,0.771579,1.000000,0.768753,...,0.247115,0.244176,0.244327,0.006294,-0.055159,-0.049598,-0.035518,-0.029562,-0.022490,0.244618
PAY_4,0.001037,-0.270253,-0.084543,0.098296,0.046492,-0.049565,0.567994,0.663575,0.768753,1.000000,...,0.250799,0.248600,0.248900,-0.007494,-0.007217,-0.071926,-0.039847,-0.030513,-0.021738,0.228281
PAY_5,-0.002072,-0.252028,-0.075789,0.092967,0.045876,-0.057620,0.545191,0.629596,0.680572,0.809965,...,0.284515,0.281620,0.277043,0.003646,-0.000685,0.013269,-0.049392,-0.026894,-0.009842,0.201667
PAY_6,-0.008399,-0.235116,-0.073290,0.071699,0.043288,-0.056162,0.511890,0.593535,0.632648,0.710113,...,0.277065,0.298819,0.292100,0.006290,0.005123,0.014532,0.016826,-0.051419,-0.015790,0.194540
BILL_AMT1,-0.008022,0.288274,-0.035611,0.043220,-0.022358,0.053802,0.216464,0.252651,0.236324,0.220489,...,0.866474,0.821279,0.786461,0.134117,0.093043,0.136730,0.143507,0.159021,0.223218,-0.005345
BILL_AMT2,-0.006438,0.277773,-0.032332,0.039378,-0.015503,0.050914,0.218873,0.252219,0.262870,0.241545,...,0.902797,0.856532,0.825327,0.263189,0.116458,0.128306,0.129855,0.149968,0.205004,-0.000536
BILL_AMT3,-0.010660,0.277329,-0.028071,0.035267,-0.015663,0.049166,0.208220,0.242920,0.251383,0.256191,...,0.929445,0.874037,0.842204,0.232857,0.269954,0.105126,0.115579,0.158167,0.211123,-0.003387
BILL_AMT4,-0.013999,0.287308,-0.030282,0.023301,-0.011228,0.046991,0.202483,0.236446,0.247115,0.250799,...,1.000000,0.929669,0.890647,0.227926,0.186043,0.291900,0.122735,0.156039,0.207141,-0.005178
BILL_AMT5,-0.015885,0.295318,-0.024155,0.014471,-0.020432,0.047565,0.201987,0.234680,0.244176,0.248600,...,0.929669,1.000000,0.942365,0.219891,0.162946,0.251605,0.283636,0.130317,0.194182,-0.003507
BILL_AMT6,-0.011602,0.288828,-0.025750,0.005736,-0.016646,0.042523,0.200430,0.236832,0.244327,0.248900,...,0.890647,0.942365,1.000000,0.201586,0.162794,0.228689,0.243823,0.289236,0.130090,-0.002684
PAY_AMT1,0.021233,0.167732,0.002788,-0.029173,0.018774,0.016884,-0.058223,-0.071908,0.006294,-0.007494,...,0.227926,0.219891,0.201586,1.000000,0.454278,0.360176,0.282815,0.127676,0.169523,-0.060706
PAY_AMT2,0.001083,0.146335,0.009362,-0.022236,0.010089,0.008699,-0.048182,-0.035939,-0.055159,-0.007217,...,0.186043,0.162946,0.162794,0.454278,1.000000,0.351779,0.250557,0.127916,0.147389,-0.057686
PAY_AMT3,0.000552,0.195449,-0.009946,-0.033102,0.018760,0.013543,-0.061945,-0.050110,-0.049598,-0.071926,...,0.291900,0.251605,0.228689,0.360176,0.351779,1.000000,0.293440,0.180020,0.172608,-0.058041
PAY_AMT4,0.005747,0.193616,-0.006141,-0.033269,-0.006596,0.015286,-0.052480,-0.034278,-0.035518,-0.039847,...,0.122735,0.283636,0.243823,0.282815,0.250557,0.293440,1.000000,0.177375,0.189527,-0.052959
PAY_AMT5,0.009746,0.211076,0.002379,-0.033291,-0.012424,0.017560,-0.058368,-0.030470,-0.029562,-0.030513,...,0.156039,0.130317,0.289236,0.127676,0.127916,0.180020,0.177375,1.000000,0.161976,-0.068852
PAY_AMT6,-0.003389,0.210319,0.012540,-0.024446,-0.014698,0.018759,-0.041100,-0.027020,-0.022490,-0.021738,...,0.207141,0.194182,0.130090,0.169523,0.147389,0.172608,0.189527,0.161976,1.000000,-0.050281
default.payment.next.month,0.008922,-0.168866,-0.057369,0.031767,-0.023587,0.032438,0.330144,0.276974,0.244618,0.228281,...,-0.005178,-0.003507,-0.002684,-0.060706,-0.057686,-0.058041,-0.052959,-0.068852,-0.050281,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 25 columns):
ID                            10001 non-null int64
LIMIT_BAL                     10001 non-null float64
SEX                           10001 non-null int64
EDUCATION                     10001 non-null int64
MARRIAGE                      10001 non-null int64
AGE                           10001 non-null int64
PAY_0                         10001 non-null int64
PAY_2                         10001 non-null int64
PAY_3                         10001 non-null int64
PAY_4                         10001 non-null int64
PAY_5                         10001 non-null int64
PAY_6                         10001 non-null int64
BILL_AMT1                     10001 non-null float64
BILL_AMT2                     10001 non-null float64
BILL_AMT3                     10001 non-null float64
BILL_AMT4                     10001 non-null float64
BILL_AMT5                     10001 non-null float64
BILL_AMT6                     10001 non-null float64
PAY_AMT1                      10001 non-null float64
PAY_AMT2                      10001 non-null float64
PAY_AMT3                      10001 non-null float64
PAY_AMT4                      10001 non-null float64
PAY_AMT5                      10001 non-null float64
PAY_AMT6                      10001 non-null float64
default.payment.next.month    10001 non-null int64
dtypes: float64(13), int64(12)
memory usage: 1.9 MB

In [6]:
inputs = df.iloc[:,0:24].values
outputs = df.iloc[:,24:25].values
outputs = df.iloc[:,-1].values

In [41]:
type(inputs)

numpy.ndarray

In [42]:
type(outputs)

numpy.ndarray

In [7]:
#from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
#X, y = load_iris(return_X_y=True)
X = inputs
y = outputs
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial').fit(X, y)
clf.predict(X[:2, :])
clf.predict_proba(X[:2, :]) 
clf.score(X, y)  #np.sum(clf.predict(X)==y) / y.shape[0]

#SVM, random forest

0.7922207779222078

In [44]:
np.sum(clf.predict(X)==y) #맞춘 개수

7923

In [45]:
y.shape[0] #총 개수

10001

In [46]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

In [47]:
np.sum(clf.predict(X) == y) / y.shape[0]

1.0

In [48]:
np.sum(clf.predict(X) == y)

10001

In [64]:
X

array([[  2.00000000e+04,   2.40000000e+05,   2.00000000e+00, ...,
          1.31700000e+03,   0.00000000e+00,   0.00000000e+00],
       [  2.00010000e+04,   2.20000000e+05,   2.00000000e+00, ...,
          1.83200000e+03,   5.00100000e+03,   1.03110000e+04],
       [  2.00020000e+04,   1.00000000e+05,   2.00000000e+00, ...,
          1.00000000e+04,   6.62700000e+03,   7.00000000e+03],
       ...,
       [  2.99980000e+04,   3.00000000e+04,   1.00000000e+00, ...,
          4.20000000e+03,   2.00000000e+03,   3.10000000e+03],
       [  2.99990000e+04,   8.00000000e+04,   1.00000000e+00, ...,
          1.92600000e+03,   5.29640000e+04,   1.80400000e+03],
       [  3.00000000e+04,   5.00000000e+04,   1.00000000e+00, ...,
          1.00000000e+03,   1.00000000e+03,   1.00000000e+03]])

In [52]:
y

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [68]:
from sklearn import svm
clf = svm.SVC()
clf #SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
     #decision_function_shape=None, degree=3, gamma='scale', kernel='rbf',
     #max_iter=-1, probability=False, random_state=None, shrinking=True,
     #tol=0.001, verbose=False)
clfout = clf.fit(X, y)

In [69]:
np.sum(clfout.predict(X) == y) / y.shape[0]

1.0

In [ ]:
# https://machinelearningmastery.com/binary-classification-tutorial-with-the-keras-deep-learning-library/

In [15]:
credit_data = pd.read_csv('https://www.dropbox.com/s/972se2yv6cao3bg/UCI_Credit_Card_test.csv?dl=1')

In [16]:
from sklearn.preprocessing import StandardScaler
from keras.utils import to_categorical

inputs = credit_data.drop(['ID','default.payment.next.month'], axis=1).values
inputs = StandardScaler().fit_transform(inputs)

target = to_categorical(credit_data['default.payment.next.month'])

non_default = len(credit_data[credit_data['default.payment.next.month'] == 0])
default = len(credit_data[credit_data['default.payment.next.month'] == 1])
ratio = float(default/(non_default + default))
print('Default Ratio :', ratio)

Default Ratio : 0.20777922207779223

In [18]:
from sklearn.model_selection import train_test_split

def SplitDataSet(inputs, target):
    
    train_input, test_input, train_label, test_label = \
    train_test_split(inputs, target, test_size = 0.5, random_state=42)
    
    return train_input, test_input, train_label, test_label

train_input, test_input, train_label, test_label = SplitDataSet(inputs, target)

input_val = train_input[:3000]
partial_input_train = train_input[3000:]

label_val = train_label[:3000]
partial_label_train = train_label[3000:]

In [19]:
from keras import models
from keras import layers
from keras.layers import Dense
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from sklearn.utils import class_weight

n_cols = inputs.shape[1]
early_stopping_monitor = EarlyStopping(patience = 2) # validation이 개선되지 않으면 stop
class_weight = {0:ratio, 1:1-ratio} 

model = Sequential()
model.add(Dense(25, activation='relu', input_shape = (n_cols,)))
model.add(Dense(25, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [20]:
from keras import optimizers

## sgd = optimizers.SGD(lr=0.01)
## model.compile(optimizer='sgd', loss='mean_squared_error', metrics=['accuracy'])

##  RMSprop(lr=0.001)
## model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

Adam = optimizers.Adam(lr = 0.001)
model.compile(optimizer = Adam, 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [21]:
result = model.fit(partial_input_train,
                  partial_label_train,
                  epochs = 20,
                  batch_size = 128, 
                  validation_data=(input_val, label_val))

Train on 2000 samples, validate on 3000 samples
Epoch 1/20
2000/2000 [==============================] - 1s 533us/step - loss: 0.6514 - acc: 0.6450 - val_loss: 0.5880 - val_acc: 0.7347
Epoch 2/20
2000/2000 [==============================] - 0s 44us/step - loss: 0.5486 - acc: 0.7820 - val_loss: 0.5367 - val_acc: 0.7850
Epoch 3/20
2000/2000 [==============================] - 0s 56us/step - loss: 0.5167 - acc: 0.8030 - val_loss: 0.5114 - val_acc: 0.8007
Epoch 4/20
2000/2000 [==============================] - 0s 49us/step - loss: 0.4973 - acc: 0.8115 - val_loss: 0.4946 - val_acc: 0.8110
Epoch 5/20
2000/2000 [==============================] - 0s 43us/step - loss: 0.4814 - acc: 0.8215 - val_loss: 0.4830 - val_acc: 0.8133
Epoch 6/20
2000/2000 [==============================] - 0s 41us/step - loss: 0.4688 - acc: 0.8225 - val_loss: 0.4731 - val_acc: 0.8160
Epoch 7/20
2000/2000 [==============================] - 0s 39us/step - loss: 0.4582 - acc: 0.8245 - val_loss: 0.4662 - val_acc: 0.8200
Epoch 8/20
2000/2000 [==============================] - 0s 39us/step - loss: 0.4491 - acc: 0.8260 - val_loss: 0.4601 - val_acc: 0.8207
Epoch 9/20
2000/2000 [==============================] - 0s 44us/step - loss: 0.4417 - acc: 0.8270 - val_loss: 0.4548 - val_acc: 0.8213
Epoch 10/20
2000/2000 [==============================] - 0s 64us/step - loss: 0.4353 - acc: 0.8270 - val_loss: 0.4507 - val_acc: 0.8233
Epoch 11/20
2000/2000 [==============================] - 0s 55us/step - loss: 0.4299 - acc: 0.8270 - val_loss: 0.4477 - val_acc: 0.8220
Epoch 12/20
2000/2000 [==============================] - 0s 42us/step - loss: 0.4243 - acc: 0.8320 - val_loss: 0.4445 - val_acc: 0.8233
Epoch 13/20
2000/2000 [==============================] - 0s 52us/step - loss: 0.4199 - acc: 0.8335 - val_loss: 0.4426 - val_acc: 0.8243
Epoch 14/20
2000/2000 [==============================] - 0s 51us/step - loss: 0.4154 - acc: 0.8360 - val_loss: 0.4403 - val_acc: 0.8270
Epoch 15/20
2000/2000 [==============================] - 0s 67us/step - loss: 0.4119 - acc: 0.8380 - val_loss: 0.4388 - val_acc: 0.8257
Epoch 16/20
2000/2000 [==============================] - 0s 56us/step - loss: 0.4083 - acc: 0.8400 - val_loss: 0.4382 - val_acc: 0.8273
Epoch 17/20
2000/2000 [==============================] - 0s 42us/step - loss: 0.4054 - acc: 0.8425 - val_loss: 0.4368 - val_acc: 0.8270
Epoch 18/20
2000/2000 [==============================] - 0s 44us/step - loss: 0.4024 - acc: 0.8420 - val_loss: 0.4342 - val_acc: 0.8277
Epoch 19/20
2000/2000 [==============================] - 0s 68us/step - loss: 0.3997 - acc: 0.8420 - val_loss: 0.4352 - val_acc: 0.8280
Epoch 20/20
2000/2000 [==============================] - 0s 61us/step - loss: 0.3978 - acc: 0.8430 - val_loss: 0.4359 - val_acc: 0.8287

In [23]:
## 실습을 위한 모델 만들기
model = Sequential()
model.add(Dense(25, activation='relu', input_shape = (n_cols,)))
model.add(Dense(25, activation='relu'))
model.add(Dense(2, activation='softmax'))

model.compile(optimizer = Adam, loss='categorical_crossentropy', metrics=['accuracy'])

model.fit(train_input, train_label, epochs = 5, batch_size = 64)

evaluation = model.evaluate(test_input, test_label)

Epoch 1/5
5000/5000 [==============================] - 1s 213us/step - loss: 0.4909 - acc: 0.8046
Epoch 2/5
5000/5000 [==============================] - 0s 56us/step - loss: 0.4334 - acc: 0.8238
Epoch 3/5
5000/5000 [==============================] - 0s 47us/step - loss: 0.4219 - acc: 0.8304
Epoch 4/5
5000/5000 [==============================] - 0s 48us/step - loss: 0.4149 - acc: 0.8310
Epoch 5/5
5000/5000 [==============================] - 0s 53us/step - loss: 0.4103 - acc: 0.8350
5001/5001 [==============================] - 0s 92us/step

In [39]:
print(test_input.shape)
print(test_label.shape)
print(n_cols)

(5001, 23)
(5001, 2)
23

In [24]:
print("Accuracy: ", evaluation[1])

Accuracy:  0.830633873237

In [25]:
test_data = pd.read_csv('https://www.dropbox.com/s/lwuhfcmjmmuqddq/UCI_Credit_Card_test2.csv?dl=1')

In [26]:
test_data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [43]:
inputs = test_data.iloc[:,1:24].values
outputs = test_data.iloc[:,24:25].values
outputs = test_data.iloc[:,-1].values
print(inputs.shape)
outputs.shape = (19999, 1)

(19999, 23)

In [44]:
np.sum(model.predict(inputs) == outputs) /outputs.shape[0]

0.99844992249612485